/* .contenedor {
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__foto {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.hero__title {
  font: var(--headline3);
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--colorPrimary);
  line-height: normal;
}
.hero__span {
  font: var(--headline5);
}
.hero__parrafo {
  color: var(--colorPrimary);
  font: var(--body1);
  text-align: justify;
}
.hero__socialMedia {
  display: flex;
  gap: 16px;
  justify-content: center;
} */

.hero__containerFoto {
  text-align: center;
}
.hero__foto {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hero__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__title {
  font: var(--headline3);
  margin: 0;
}
.hero__span {
  font: var(--headline5);
  display: block;
}
.hero__socialMedia {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

/***********movil*********/

/*********430px**********/
@media screen and (min-width: 430px) {
  .header__button--diferenciador {
    width: 70%;
  }
}
/*********768*************/
@media screen and (min-width: 768px) {
  .hero {
    margin-top: 24px;
    display: flex;
    gap: 50px;
  }
  .hero__containerFoto {
    order: 100;
  }
  .header__button--diferenciador {
    display: none;
  }
  /******************890***************/
}
@media screen and (min-width: 844px) {
  .hero {
    gap: 100px;
  }
}
@media screen and (min-width: 890px) {
  .hero__description {
    width: 28.46rem;
  }
  .hero {
    gap: 170px;
  }
}
@media screen and (min-width: 972px) {
  .hero__foto {
    width: 31.25rem;
    height: 31.25rem;
  }
}
